<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app">
<head>
    <title>Isofh</title>
    <div th:replace="fragments/header :: header-common"/>
    <script th:src="@{/js/project/search/service.js}"></script>
</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu"/>
    <section>
        <section class="hbox stretch" ng-app="kios" ng-controller="kiosCtrl">
            <aside th:replace="fragments/leftpanel :: leafpanel" />
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a href="<%=request.getContextPath()%>/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                            <li><a href="#">Khách hàng</a></li>
                            <li><a href="javascript:void(0)">List</a></li>
                        </ul>

                        <section class="panel panel-default">
                            <header class="panel-heading"><i class="fa fa-caret-square-o-right"></i> Dữ liệu

                            </header>
                            <div class="text-sm wrapper bg-light lt">
                                <form cssClass="form-inline padder" action="list" role="form" theme="simple">

                                    <div class="form-group ">
                                        <div class="col-md-6">
                                            <label class="col-sm-3 control-label">Tên dịch vụ</label>
                                            <div class="col-sm-9">
                                                <input name="name" placeholder=""  ng-model="name" my-enter="search()" class="input-sm form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="line line-dashed line-lg pull-in" style="clear:both ;border-top:0px"></div>
<!--                                    <div class="form-group text-center">-->
<!--                                        <a ng-click="search()" class="btn btn-info btn-sm">Tìm kiếm</a>-->
<!--                                        <button type="reset" class="btn btn-default btn-sm" ng-click="clear()">Xóa điều kiện</button>-->
<!--                                    </div>-->

                                </form>
                            </div>

                            <div class="table-responsive table-overflow-x-fix">
                                <table id="tblUser" class="table table-striped table-bordered m-b-none text-sm">
                                    <thead>
                                    <tr>
<!--                                        <th class="box-shadow-inner small_col text-center">#</th>-->
                                        <th class="box-shadow-inner small_col text-center">Tên DV</th>
                                        <th class="box-shadow-inner small_col text-center">Giá tiền</th>
                                        <th class="box-shadow-inner small_col text-center">Loại DV</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="item in page.items track by $index">
<!--                                        <td class="align-center">{{(page.pageNumber-1)*page.numberPerPage + $index+1}}</td>-->
                                        <td class="align-center">{{item.name}}</td>
                                        <td class="align-center">{{item.price}}</td>
                                        <td class="align-center" ng-switch on="item.type">
                                            <span ng-switch-when="1">Vật tư</span>
                                            <span ng-switch-when="2">Xét nghiệm</span>
                                            <span ng-switch-when="3">Thuốc</span>
                                            <span ng-switch-default>Chưa xác định</span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="table-responsive">-->
<!--                                <table class="table table-striped m-b-none" data-ride="datatables">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th class="box-shadow-inner small_col text-center">Tên DV</th>-->
<!--                                        <th class="box-shadow-inner small_col text-center">Giá tiền</th>-->
<!--                                        <th class="box-shadow-inner small_col text-center">Loại DV</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr ng-repeat="item in page.items track by $index">-->
<!--                                            <td class="align-center">{{item.name}}</td>-->
<!--                                            <td class="align-center">{{item.price}}</td>-->
<!--                                            <td class="align-center">{{item.type}}</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                            <footer class="panel-footer">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-12 text-right text-center-xs">-->
<!--                                        <div class="col-sm-6 text-left">-->
<!--                                            <span>Tổng số <code>{{page.rowCount|currency:"":0}}</code> dữ liệu</span>-->
<!--                                        </div>-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <ul class="pagination pagination-sm m-t-none m-b-none">-->
<!--                                                <li ng-if="page.pageNumber>1"><a href="javascript:void(0)"  ng-click="loadPage(1)">«</a></li>-->
<!--                                                <li ng-repeat="item in page.pageList">-->
<!--                                                    <a href="javascript:void(0)" ng-if="item==page.pageNumber" style="color:mediumvioletred;"> {{item}}</a>-->
<!--                                                    <a href="javascript:void(0)" ng-if="item!=page.pageNumber" ng-click="loadPage(item)"> {{item}}</a>-->
<!--                                                </li>-->
<!--                                                <li ng-if="page.pageNumber<page.pageCount" ><a href="javascript:void(0)" ng-click="loadPage(page.pageCount)">»</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </footer>-->
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
            <!--end content-->
        </section>
    </section>
</section>
<div th:replace="fragments/footer :: footer-common"/>

</body>
</html>