<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th-block th:fragment="leafpanel">
<aside class="bg-dark lter b-r aside-md hidden-print hidden-xs " id="nav" >
    <section class="vbox">
        <header class="header bg-primary lter text-center clearfix">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-dark btn-icon"><i class="fa fa-envelope"></i></button>
                <div class="btn-group hidden-nav-xs">
                    <a href="#" class="btn btn-sm btn-primary" >Phản hồi</a>
                </div>
            </div>
        </header>
        <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li class=""  th:classappend="active"><a th:href="@{/home}">
                        <i class="fa fa-dashboard icon">
                            <b class="bg-info"></b>
                        </i><span>Sơ đồ bệnh viện</span></a>
                        </li>
                        <li  th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup', #httpServletRequest)} ? 'active' : '' "><a href="#" class=""> <i class="fa fa-paste icon"> <b class="bg-primary"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>QT KCB</span> </a>
                            <ul class="nav lt">
                                <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup/bhyt', #httpServletRequest)} ? 'active' : '' " class=""><a th:href="@{/checkup/bhyt}" class=""> <i class="fa fa-angle-right"></i> <span>Có BHYT tại KKB</span> </a></li>
                                <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup/dv', #httpServletRequest)} ? 'active' : '' " class=""><a th:href="@{/checkup/dv}" class=""> <i class="fa fa-angle-right"></i> <span>Không BHYT tại KKB</span> </a></li>
                                <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup/tyc', #httpServletRequest)} ? 'active' : '' " class=""><a th:href="@{/checkup/tyc}" class=""> <i class="fa fa-angle-right"></i> <span>Khoa KB ĐKTYC</span> </a></li>
                                <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup/cc', #httpServletRequest)} ? 'active' : '' " class=""><a th:href="@{/checkup/cc}" class=""> <i class="fa fa-angle-right"></i> <span>Khám cấp cứu</span> </a></li>
                                <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/checkup/nt', #httpServletRequest)} ? 'active' : '' " class=""><a th:href="@{/checkup/nt}" class=""> <i class="fa fa-angle-right"></i> <span>Điều trị nội trú</span> </a></li>
                            </ul>
                        </li>
                        <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/search', #httpServletRequest)} ? 'active' : '' "><a href="#" class=""> <i class="fa fa-search icon"> <b class="bg-primary"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>Tra cứu giá DV</span> </a>
                            <ul class="nav lt">
                                <li class="" th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/search/price', #httpServletRequest)} ? 'active' : '' "><a th:href="@{/search/price}" class=""> <i class="fa fa-angle-right"></i> <span>Bảng giá DV</span> </a></li>
                                <li class="" th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/search/result', #httpServletRequest)} ? 'active' : '' "><a th:href="@{/search/result}" class=""> <i class="fa fa-angle-right"></i> <span>KQ DV</span> </a></li>
                            </ul>
                        </li>
                        <li th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/survey', #httpServletRequest)} ? 'active' : '' "><a href="#" class=""> <i class="fa fa-file-text icon"> <b class="bg-primary"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>Khảo sát mức hài lòng</span> </a>
                            <ul class="nav lt">
                                    <li class="" th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/survey/op', #httpServletRequest)} ? 'active' : '' "><a th:href="@{/survey/op}" class=""> <i class="fa fa-angle-right"></i> <span>NB ngoại trú</span> </a></li>
                                    <li class="" th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/survey/ip', #httpServletRequest)} ? 'active' : '' "><a th:href="@{/survey/ip}" class=""> <i class="fa fa-angle-right"></i> <span>NB nội trú</span> </a></li>
                                    <li class="" th:classappend="${T(com.isofh.bvp.dashboard.common.Utils).isActive(#httpServletRequest.getContextPath()+'/survey/staff', #httpServletRequest)} ? 'active' : '' "><a th:href="@{/survey/staff}" class=""> <i class="fa fa-angle-right"></i> <span>Nhân viên BV</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <footer class="footer lt hidden-xs b-t b-dark">
            <a href="#nav" id="changeNavXS" data-toggle="class:nav-xs" class="pull-right btn btn-smbtn-dark btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
        </footer>
    </section>
</aside>
</th-block>
</body>
</html>