<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app">
<head>
    <title>Isofh</title>
    <div th:replace="fragments/header :: header-common"/>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu"/>
    <section>
        <section class="hbox stretch" ng-app="dash" ng-controller="dashCtrl">
            <aside th:replace="fragments/leftpanel :: leafpanel" />
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        </ul>
                        <section id="main" class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-8">
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
            <!--end content-->
        </section>
    </section>
</section>
<div th:replace="fragments/footer :: footer-common"/>
<script th:src="@{/note/js/charts/sparkline/jquery.sparkline.min.js}" cache="false"></script>
<script th:src="@{/note/js/charts/easypiechart/jquery.easy-pie-chart.js}" cache="false"></script>
<script th:src="@{/js/highcharts/highcharts.js}" cache="false"></script>
<!--<script src="https://code.highcharts.com/modules/data.js"></script>-->
<script th:src="@{/js/highcharts/highcharts-more.js}" cache="false"></script>
<script th:src="@{/js/highcharts/exporting.js}" cache="false"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.min.js}"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.grow.js}"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!--Cho bieu do` tron`-->
<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
</body>
</html>