<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app">
<head>
    <title>QTKCB_BHYT</title>
    <div th:replace="fragments/header :: header-common"/>
    <script th:src="@{/js/project/search/service.js}"></script>
</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu"/>
    <section>
        <section class="hbox stretch" ng-app="kios" ng-controller="kiosCtrl">
            <aside th:replace="fragments/leftpanel :: leafpanel" />
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        </ul>
                        <section id="main" class="panel panel-default" style="text-align:center; padding-top:20px;">
                            <img th:src="@{/note/images/3.jpg}" class="m-r-sm ">
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
            <!--end content-->
        </section>
    </section>
</section>
<div th:replace="fragments/footer :: footer-common"/>

</body>
</html>